# Ignore all files
*

# Ignore all files in subdirectories
*/*

# Unignore all program files
!*.cpp
!*.h
!Makefile
!Doxyfile

# Unignore all files in subdi with extensions
!*/*.*

# Unignore all directories
!*/
